#navbar {
    background-color:    #e6f3ff;
    height: 60px;
}

/* #navbar .item {
    margin: auto 0;
} */

#sidebar {
    margin-top: 60px !important;
    width: 300px;
    background-color: #2185D0;
}

#sidebar .item {
    color: #fff !important;
}

#home {
    margin-left: 250px;
}

* {
    font-family: "sahel" !important;
}

/* .signin {
    background-color: #007acc !important;
} */

body {
    font-family: "sahel" !important;
}

img {
    width: 100px !important;
    height: 40px;
}

.ui .sidebar {
    overflow: visible !important;
}

#content {
    margin-top: 60px !important;
    margin-right: 300px !important;
}

.ui .list li {
    margin-right: 50px;
    line-height: 1.5rem !important;
    color: #fff;
}

#sidebar h3 {
    margin-right: 30px;
    margin-top: 10px;
}

.active {
    border-color: #2185D0 !important; 
    border-width: 5px !important;
}

img {
    margin: auto;
    width: 150;
    height: 150;
}

ul {list-style: none !important;}
/* li::before {
    content: "•";
    color: #fff;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
} */

/* li::marker {
   color: #fff !important;
   content: "•";
}  */