.stackable img {
    margin: auto !important;
}

.footer , .navbar {
    height: 60px;
}
#footer_light , #navbar_light {
    background-color:    #e6f3ff;
}

.footer {
    border-top: 2px solid rgba(34,36,38,.15) !important;
}

#navbar_dark {
    background-color: #004f99;
}

/* #navbar .item {
    margin: auto 0;
} */

#sidebar {
    margin-top: 60px !important;
    width: 300px;
    background-color: #2185D0;
}

#sidebar .item {
    color: #fff !important;
}

#home {
    margin-left: 250px;
}

/* * {
    font-family: "sahel" !important;
} */

/* .signin {
    background-color: #007acc !important;
} */


.image{
    max-width: 100% !important;
    max-height: 100% !important;
    display: block;
}

.image:hover{
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    box-shadow: 10px 10px 5px #888888;
  }


.ui .sidebar {
    overflow: visible !important;
}

#content {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    margin-right: 300px !important;
}

.ui .list li {
    margin-right: 50px;
    line-height: 1.5rem !important;
    color: #fff;
}

#sidebar h3 {
    margin-right: 30px;
    margin-top: 10px;
}

.active {
    border-color: #2185D0 !important; 
    border-width: 5px !important;
}

#right_menu {
    margin-right: 0px !important;
}

#logo‌ {
    height: 30px !important;
    width: 80px !important;
}

.bottom.menu .item {
    width: 25%;
    text-align: center;
    /* margin-left: 3% !important;
    margin-right: 3% !important; */
}

.bottom.menu .item a {
    margin: auto    ;
}

@media screen and (max-width: 768px) {
    .mobile.hidden {
        display: none !important;
    }
    .ui.menu.visible {
        display: none !important;
    }

    #content {
        margin-right: 0 !important;
    }
}

@media screen and (min-width: 768px) {
    .footer, #awesome {
        display: none !important;
    }
}

/* .menu .right {
    margin-right: 0 !important;
} */

/* img {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 150;
    height: 150;

} */

 /* .square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; 
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover
}  */

/* ul {list-style: none !important;} */
/* li::before {
    content: "•";
    color: #fff;
    display: inline-block; 
    width: 1em;
    margin-left: -1em
} */

/* li::marker {
   color: #fff !important;
   content: "•";
}  */